{{- $onempty := cond (isset . "onempty") .onempty "show" }}
{{- $onwidths := cond (isset . "onwidths") .onwidths "show" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- partial "topbar/func/button.html" (dict
	"page" .
	"class" "topbar-button-back"
	"icon" "chevron-left"
	"href" "javascript:history.back()"
	"onempty" $onempty
	"onwidths" $onwidths
	"onwidthm" $onwidthm
	"onwidthl" $onwidthl
	"hint" (printf "%s" (T "Back"))
)}}
