/* my-custom-variant */
:root {
  --PRIMARY-color: rgb( 62, 81, 127 ); /* brand primary color */
  --SECONDARY-color: rgba( 62, 80, 126 ); /* brand secondary color */
  --ACCENT-color: rgba( 255, 68, 255, 1 ); /* brand accent color, used for search highlights */
  --MAIN-TOPBAR-BORDER-color: rgb( 48, 54, 61 ); /* border color between topbar and content */
  --MAIN-LINK-HOVER-color: rgba( 226, 234, 241 ); /* hoverd link color of content */
  --MAIN-BG-color: rgb( 12, 17, 22 ); /* background color of content */
  --MAIN-TEXT-color: rgb( 226, 234, 241 ); /* text color of content and h1 titles */
  --MAIN-TITLES-TEXT-color: rgb( 226, 234, 241 ); /* text color of h2-h6 titles and transparent box titles */
/*  --MAIN-font: Open Sans; /* text font of content and h1 titles */
  --CODE-theme: relearn-dark; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba( 248, 248, 242, 1 ); /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: rgb( 12, 17, 22 ); /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: rgb( 48, 54, 61 ); /* border color of block code */
  --CODE-INLINE-color: rgba( 130, 229, 80, 1 ); /* text color of inline code */
  --CODE-INLINE-BG-color: rgb( 12, 17, 22 ); /* background color of inline code */
  --CODE-INLINE-BORDER-color: rgb( 48, 54, 61 ); /* border color of inline code */
  --BROWSER-theme: dark; /* name of the theme for browser scrollbars of the main section */
  --MERMAID-theme: dark; /* name of the default Mermaid theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-theme: dark; /* name of the default OpenAPI theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-CODE-theme: obsidian; /* name of the default OpenAPI code theme for this variant, can be overridden in hugo.toml */
  --MENU-BORDER-color: rgb( 48, 55, 60 ); /* border color between menu and content */
  --MENU-TOPBAR-BORDER-color: rgb( 48, 54, 61 ); /* border color of vertical line between menu and topbar */
  --MENU-TOPBAR-SEPARATOR-color: rgb( 48, 55, 60 ); /* separator color of vertical line between menu and topbar */
  --MENU-HEADER-BG-color: rgb( 0,4,8 ); /* background color of menu header */
  --MENU-HEADER-BORDER-color: rgb( 0,4,8 ); /* border color between menu header and menu */
  --MENU-HEADER-SEPARATOR-color: rgb( 48, 54, 61 ); /* separator color between menu header and menu */
  --MENU-HOME-LINK-color: rgb( 226, 234, 241 ); /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: rgba( 62, 80, 126 ); /* hoverd home button color if configured */
  --MENU-SEARCH-color: rgb( 226, 234, 241 ); /* text and icon color of search box */
  --MENU-SEARCH-BG-color: rgb( 0, 5, 9 ); /* background color of search box */
  --MENU-SEARCH-BORDER-color: rgb( 48, 55, 60 ); /* border color of search box */
  --MENU-SECTIONS-BG-color: rgb( 0,4,8 ); /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: rgb( 0,4,8 ); /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: rgb( 226, 234, 241 ); /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: rgb( 62, 80, 126 ); /* hoverd link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: rgb( 31, 110, 234 ); /* text color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: rgb( 12, 17, 22 ); /* background color of the displayed menu topic */
  --MENU-SECTION-SEPARATOR-color: rgb( 48, 54, 61 ); /* separator color between menu sections and menu footer */
  --MENU-VISITED-color: rgb( 31, 110, 234 ); /* icon color of visited menu topics if configured */
  --BOX-CAPTION-color: rgb( 226, 234, 241 ); /* text color of colored box titles */
  --BOX-BG-color: rgb( 18, 31, 46 ); /* background color of colored boxes */
  --BOX-TEXT-color: rgba( 224, 224, 224, 1 ); /* text color of colored box content */
}
